

.login-button {
    margin-left: 10px;
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    background-color: #2E294E;
    font-size: 20px;
    border: 1px solid white;
}

.form-input {
	width: 400px;
	padding: 10px;
	margin: 5px;
}

.login-title {
    text-align: center;
}

.error-container {
    color: red;
    text-align: center;
}

.form-container {
    padding: 10px;
}

.submit-login-form {
   display: flex;
   justify-content: center;
}

.submit-button {
    background-color: #2E294E;
    padding: 10px;
    border-radius: 5px;
    color: white;
}