.auctions-title {
    padding-left: 20px;
}

.auctions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.auction-listing {
    display: flex;
}

.img-main-page {
    width: 430px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
}

.auction-title {
    text-align: center;
}

.auction-listing {
    border: 1px solid gray;
    border-radius: 8px
}

.future-auctions-title {
    padding-top: 30px;
}