/* .auctions-title {
    padding-left: 20px;
} */

.auctions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}


.img-main-page {
    width: 430px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
}

.auction-details {
    text-align: center;
    text-decoration: none; 
    color: black;
}

.auction-listing {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.future-auctions-title {
    padding-top: 30px;
    text-decoration: none;
}

.date-container {
    text-decoration: none;
    float: left;
    color: black;
}

.auction-date-detail {
    color: black;
    padding-left: 15px;
    float: left;
}

.auction-location-container {
    text-align: right;
    float: right;
}


.auction-location-detail {
    font-weight: lighter;
    padding-right: 15px;
    color: gray;
    float: right;
}