@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

footer {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.footer-container {
    background-color: #2E294E;
    display: flex;
    justify-content: center;
}

.footer-info-container  {
    width: 100%;
    padding: 16px 0px 16px;
    box-sizing: border-box;
    display: flex;
}

.footer-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    padding: 10px 0px 0px 10px
}

.footer-info {
    width: 100%
}

.footer-links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: right;
    padding: 20px 30px 20px
}
.footer-link {
    text-decoration: none;
    color: white;
}

.fa-github {
    color: #8a8b8d;
}

.fa-linkedin {
    color: #3f66b3;
}

