/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

.bid-comment-submit-edit-delete {
    padding: 10px;
    background-color: #2E294E;
    color: white;
    border-radius: 8px;
}