.image-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.vehicle-image {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
}

.auction-container {
    padding-left: 15px;
    padding-right: 15px;
}

.current-bids-container {
    padding-bottom: 15px;
}

.technical-details-container {
    float: right;
    border: 1px solid black;
    margin-right: 40px;
}

.technical-details {
    padding: 10px;
}

.comments-container {
    padding-bottom: 115px;
}

#bid-input {
    padding: 10px;
}



#comment-input {
    padding: 10px;
    width: 500px
}

.comments-form {
    display: block;
    align-items: center;
}

.auction-description-container {
    padding-right: 20px;
}
