.user-profile-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}
.user-profile-details {
    text-align: right;
    padding-right: 50px;
}

#user-profile-header {
    text-align: center;
}

.user-auction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    
}

.user-auction-listing {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: transform .2s;
}

.user-auction-listing:hover {
    transform: scale(1.1);
}

.edit-delete-buttons {
    padding-left: 135px;
    padding-bottom: 10px;
}

.user-auctions-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.error-msg {
    text-align: center;
}

.user-auction-container-none {
    padding-bottom: 794px;
}