
.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    background-color: #2E294E;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 20px;
    width: 100%;
}

.nav {
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
}

.nav-left {
	margin-left: 10px;
    padding-top: 7px;
}

/* .search-input {
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    width: 300px;
    margin-top: 20px;
    border: .5px solid gray;
} */

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-right: 30px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}



.login-signup {
    list-style-type: none;
    color: white;
    display: inline;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

#logo {
    max-height: 50px;
}